*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fafafa;
    color: #424242;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 96px;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.auth-buttons a{
    text-decoration: none;
    padding: 10px 20px;
}

.signup{
    background-color: #333;
    color: #fff;
}

.login{
    color: #333;
}

.hero-section{
    padding: 56px;
}

.hero-content{
    text-align: center;
    margin-bottom: 24px;
}

.hero-content h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
}

.hero-content .quote{
    font-size: 20px;
    color: #333;
    text-align: right;
    margin-bottom: 24px;
}

.hero-content img{
    max-width: 100%;
    height: auto;
}

.author-tag{
    display: flex;
}

.author{
    display: flex;
    float: left;
    width: 70%;
    
}

.author .avatar{
    width: 40px;
    height: 40px;
    background-color: #d8d8d8;
    border-radius: 60%;
    margin-right: 16px;
}

.author .author-info .author-name{
    margin-bottom: 4px;
}

.social-media-icons{
    display: flex;
    float: right;
    width: 30%;
    gap: 16px;
}