*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Switzer", sans-serif;
}

body{
    padding-top: 136px;
    background-color: #fafafa;
    color: #424242;
    line-height: 1.6;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 96px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}

.logo{
    font-size: 24px;
    font-weight: bolder;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.auth-buttons a{
    text-decoration: none;
    padding: 10px 20px;
}

.signup{
    background-color: #333;
    color: #fff;
}

.login{
    color: #333;
}

.hero-section{
    margin: 0 200px;
    justify-content: center;
}

.hero-content{
    margin-bottom: 24px;
}

.hero-content h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
    word-break: break-word;
}

.hero-content .quote{
    font-size: 20px;
    color: #333;
    text-align: right;
    margin-bottom: 24px;
}

.hero-content img{
    max-width: 100%;
    width: 100%;
    height: auto;
}

.author-tag{
    display: flex;
    justify-content: space-between;
    gap: 408px;
    margin-bottom: 24px;
    align-items: center;
}

.author{
    display: inline-flex;
    align-items: center;
    float: left;
    gap: 16px;
}

.author .avatar{
    width: 64px;
    height: 64px;
    background-color: #d8d8d8;
    border-radius: 60%;
}

.author .author-info .author-name{
    margin-bottom: 4px;
}

.contact-portfolio-icons{
    display: flex;
    float: right;
    gap: 16px;
}

.contact-portfolio-icons img{
    width: 32px;
    height: 32px;
}

hr{
    border: 1.5px solid #aaa;
    width: 100%;
}

.content-section{
    margin: 0 200px;
    margin-top: 24px;
    justify-content: center;
}

.content h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 24px;
}

.content p{
    margin-bottom: 16px;
}

.content ul li{
    margin-bottom: 16px;
